!!! 5
html
  head
    title cilantro
    != css("bootstrap")
    != css("bootstrap-responsive")
    != css("main")
    != js("vendor/modernizr")
    != js("vendor/jquery")
  body

    .container
      h1 cilantro &nbsp;
        small freshly scraped personal finance data

      hr

      block content

    != js("vendor/bootstrap")
    != js("vendor/underscore")
    != js("vendor/backbone")
    != js("vendor/moment")
    != js("pre-backbone")
    != js("models/transaction")
    != js("models/account")
    != js("models/scraper")
    != js("collections/transactions")
    != js("collections/accounts")
    != js("collections/scrapers")
    != js("views/transactions")
    != js("views/accounts")
    != js("views/scrapers")
    != js("views/app")
    != js("routers/router")
    != js("app")