!!! 5
html
  head
    title cilantro
    != css("bootstrap.css")
    != css("bootstrap-responsive.css")
    != css("main.css")
    != js("vendor/modernizr.js")
    != js("vendor/jquery.js")
  body

    .container
      h1 cilantro &nbsp;
        small freshly scraped personal finance data

      hr

      block content

    != js("vendor/bootstrap.js")
    != js("vendor/underscore.js")
    != js("vendor/backbone.js")
    != js("app.js")