#nav li.active a {
  background-color: #ddd;
}
#nav li.active a span {
  color: #444;
}
#nav li.active a i.icon-chevron-right {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#nav li a {
  padding: 15px 30px 15px 15px;
  position: relative;
}
#nav li a span {
  float: right;
  color: #aaa;
}
#nav li a i.icon-chevron-right {
  position: absolute;
  top: 17px;
  right: 8px;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
}
#search-wrapper {
  padding-bottom: 20px;
}
.transactions-table td.amount {
  min-width: 80px;
}
.transactions-table td.amount.positive {
  color: #008000;
}
.transactions-table td.amount.negative {
  color: #f00;
}
#update-accounts-button.updating i {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
