extends ../layout

block content

  .row-fluid
    .span3
      .flip-container
        .flipper
          .front
            ul.nav.nav-tabs.nav-stacked#accounts-list

            div.last-updated#update-accounts-wrapper

          .back
            h3 scrapers
            div#scrapers-list

            h5 Add Scraper
            form#new-scraper-form
              select(name="file")
                option Select a scraper
                for scraper, key in scrapers
                  option(value="#{key}", data-fields="#{scraper.fields}") #{scraper.name}

              fieldset#scraper-fields

              .input-append
                input.span8(type="password", name="encryption_key", placeholder="Cilantro passphrase", autocomplete="off")
                button.btn.btn-primary Save

            a.btn(data-toggle="flipper")
              i.icon-info-sign


    .span9
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody#transactions-tbody
