extends ../layout

block content

  .row-fluid
    .span3
      .flip-container
        .flipper
          .front
            ul.nav.nav-tabs.nav-stacked#accounts-list

            div.last-updated#update-accounts-wrapper

            a.btn.pull-right(data-toggle="flipper")
              i.icon-info-sign

          .back
            div#scrapers-list

            h5 Add Scraper
            form#new-scraper-form
              select(name="file")
                option Select a scraper
                for scraper, key in scrapers
                  option(value="#{key}", data-fields="#{scraper.fields.join('|')}", data-additional-fields="#{scraper.additionalFields}") #{scraper.name}

              fieldset#scraper-fields

            a.btn.pull-right(data-toggle="flipper")
              i.icon-info-sign


    .span9
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody#transactions-tbody
