extends ../layout

block content

  .row-fluid
    .span4
      ul.nav.nav-tabs.nav-stacked#accounts-list

      div.last-updated#update-accounts-wrapper

    .span8
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th(width="20%") Account
            th(width="40%") Name
            th(width="20%") Amount
            th(width="20%") Date

        tbody#transactions-tbody
