extends ../layout

block content

  .row-fluid
    .span3
      .flip
        .side-a
          ul.nav.nav-tabs.nav-stacked#accounts-list

          div.last-updated#update-accounts-wrapper

        .side-b
          ul#accounts-admin-list

    .span9
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody#transactions-tbody
