extends ../layout

block content

  .row-fluid
    .span3
      .flip-container
        .flipper
          .front
            ul.nav.nav-tabs.nav-stacked#accounts-list

            div.last-updated#update-accounts-wrapper

          .back
            ul#accounts-admin-list

            a.btn(data-toggle="flipper")
              i.icon-info-sign

    .span9
      div#search-wrapper
        input.search-query.pull-right(type="text", placeholder="Search Transactions...")
        .clearfix

      table.table.table-striped.transactions-table
        thead
          tr
            th Account
            th Name
            th Amount
            th Date

        tbody#transactions-tbody
