@import 'nib'

.flip-container
  perspective 1000


.flip-container.flipped .flipper
  transform rotateY(180deg)


.flipper
  transition 0.6s
  transform-style preserve-3d
  position relative


.front, .back
  backface-visibility hidden
  position absolute
  top 0
  left 0


.front
  z-index 2

.back
  transform rotateY(180deg)
  border 1px solid #ddd
  border-radius(4px)

#accounts-list
  li
    &.active
      a
        background-color #ddd

        span
          color #444

        i.icon-chevron-right
          opacity(1.0)

    a
      padding 15px 30px 15px 15px
      position relative
      display table-cell
      width 245px

      span.account-name
        display inline-block
        width 145px
        vertical-align middle

      span.account-balance
        display inline-block
        color #aaa
        vertical-align middle
        width 70px
        text-align right

      i.icon-chevron-right
        position absolute
        top 50%
        margin-top -7px
        right 8px
        opacity(.25)

#search-wrapper
  padding-bottom 20px

.transactions-table
  td.amount
    min-width 80px

    &.positive
      color green

    &.negative
      color red

  td.name
    overflow ellipsis
    white-space nowrap
    width 400px
    max-width 400px

#update-accounts-button
  &.updating
    i
      animation(spin 1s linear infinite)

@keyframes spin
  from
    transform(rotate(0deg))

  to
    transform(rotate(360deg))