@import 'nib'

#nav
  li
    &.active
      a
        background-color #ddd

        span
          color #444

        i.icon-chevron-right
          opacity(1.0)

    a
      padding 15px 30px 15px 15px
      position relative

      span
        float right
        color #aaa

      i.icon-chevron-right
        position absolute
        top 17px
        right 8px
        opacity(.25)

#search-wrapper
  padding-bottom 20px